<html lagn="ko" xmlns:th="http://www.thymeleaf.org">
  <!--footerFragment 선언-->
  <div th:fragment="footerFragment">
    <div class="centered-container">
      <p class="custom-text">
        고객센터(이용 및 결제 문의) cs@watcha.co.kr • 02-515-9985 (유료) / 제휴
        및 대외 협력 https://watcha.team/contact
      </p>
      <p class="custom-text">
        주식회사 WHATCHB / 대표 김태훈 / 사업자등록번호 211-88-1234123 /
        통신판매업 신고번호 제 2222-서울서초-0111호 / 호스팅 서비스 제공자
        아마존웹서비시즈코리아 유한회사 / 대표번호 02-515-2222 / 이용약관 /
        개인정보 처리 방침 / 청소년 보호정책
      </p>
    </div>
  </div>
</html>
